
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
  }

  .main{
    display: flex;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  input {
    padding: 6px;
    font-size: 23px;
    margin-right: 13px;
}
  
  button {
    padding: 5px 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  